*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url(/images/e20f3d995f3d4bc8d71364ac694861be.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:300px;
    background-attachment: scroll;
    background-color: rgb(108, 143, 165);
    
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 22px;
}
ul{
    list-style-type: none;
    font-size: 20px;
}
a{
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: black;
}
a:hover{
    color: blue;
}
.copy{
    margin: 40%;
}